@import url('/src/assets/satoshi_font/css/satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base Colors */
  --color-base-100: #1C1C1C;
  --color-base-200: #585757;
  --color-base-300: #969696;
  --color-base-400: #000000;
  --color-base-500: #000000;
  --color-base-600: #FFFFFF;

  /* Primary Colors */
  --color-primary-100: #004289;
  --color-primary-200: #0F5096;

  /* Error Color */
  --color-error: #EF4147;

  /* Background Colors */
  --color-bg-100: #FEFEFE;
  --color-bg-200: #F8F8F8;
  --color-bg-300: #EFEFEF;
}

html, body {min-height:100%;}
body{height:100vh;}

#root {
  height:100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
}

.home-container {
  margin: 0 auto;
  padding: 30px;
  gap: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
  gap: 10;
}

.form-title-text-bold {
  font-family: 'Satoshi-Variable';
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
  color: var(--color-base-100);
}

.form-title-text-bold-primary {
  font-family: 'Satoshi-Variable';
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
  color: var(--color-primary-100);
}

.main-image {
  width: 60px;
  height: 60px;
}