.primary-button {
    width: 190px;
    height: 35px;
    padding: 5px 15px;
    gap: 5px;
    border-radius: 3px 3px 3px 3px;
    background-color: var(--color-primary-100);
    font-family: 'Satoshi-Variable';
    color: var(--color-base-600);
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}


